Start April

Go Asia - 51 - s
Turkish supermarkets - 30 - s
Cake - 9 - s

Rewe - 31.65 - p
Aldi - 26.29 - p
Aldi - 6.26 - p
Norma - 19.62 - p

Bakery - 10.20 - s
Aldi - 39.93 - s
Aldi - 41.12 - p
Aldi - 15.14 - p
Aldi - 7.35 - s
Norma - 7.82 - p

Start May

Norma - 10.51 - s
Aldi - 7.44 - p
Go Asia - 40.77 - p
Norma - 5.34 - p
Rewe - 21.09 - p
Norma - 5.16 - s
Aldi - 4.06 - p
Aldi - 20.59 - p
Rewe - 9.87 - p
Aldi - 38 - p
Rewe - 14.04 - p
Rewe - 45.09 - p
Edeka - 7.73 - s
